<html>
<head>
	<meta charset="UTF-8">
	<title>Calculator</title>
	<rel link="stylesheet" type="text/css" href="calculators.scss"
	
</head>


<header>
	<h1><center>CALCULATOR</center></h1>
</header>
<body>



<div id="content">
<form>



<input id="but" name="scren" type="text"  size="48"/>


<input type="button" value="AC"  class="button" onclick="screen(AC)"/>
<input type="button" value="+/-" class="button" onclick="screen(+/-)"/>
<input type="button" value="%"   class="button" onclick="screen(%)"/>
<input type="button" value="รท"   class="button" onclick="screen(รท)"/>



<input type="button" value="7" class="button" onclick="screen(7)"/>
<input type="button" value="8" class="button" onclick="screen(8)"/>
<input type="button" value="9" class="button" onclick="screen(9)"/>
<input type="button" value="x" class="button" onclick="multiply(x)"/>

	

<input type="button" value="4" class="button" onclick="screen(4)"/>
<input type="button" value="5" class="button" onclick="screen(5)"/>
<input type="button" value="6" class="button" onclick="screen(6)"/>
<input type="button" value="-" class="button" onclick="substract(-)"/>

	


<input type="button" value="1" class="button" onclick="screen(1)"/>
<input type="button" value="2" class="button" onclick="screen(2)"/>
<input type="button" value="3" class="button" onclick="screen(3)"/>
<input type="button" value="+" class="button" onclick="screen(+)"/>

	


<input type="button" value="0" class="button" onclick="screen(0)"/>
<input type="button" value="C" class="button" onclick="screen(C)"/>
<input type="button" value="." class="button" onclick="screen(.)"/>
<input type="button" value="=" class="button" onclick="answer(=)"/>


</form>

</div>

<script>

   
    var code = document.getElementById('but')


function screen(x)

{
	code.value+=x;

	if (x=='C')
	{
		code.value='';
	}
}



function answer()
{

	x=code.value;
	x=eval(x);
	code.value= x;

}


function power(y)

{
	x=code.value;
	x=Math.pow(x,y);
	code.value=x;
}

</script>



</body>
</html>